:root{
  margin: 0;
  padding: 0;
  
  --color1: red;
  --color2: blue;
  --color3: pink;
  --color4: orange;

}

.contenedor{
  margin: 0 auto;
  background-color: beige;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 70px;
}

.contenedor .contenedorheader{

  display: block;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color4);
}
.header{
  align-items: center;
  justify-content:center;
  background-color: var(--color2);
  display: flex;
  flex-wrap:wrap;
}
h1{
 padding: 0 15px 0 ;
}



.header .logo img{
  width: 70%;
  padding: 0.5rem;
  width: fit-content;
  
}

.header .texto{

  display: flex;
  justify-content: center;

 
}
.contenedorbuscador{
  display: flex;
  flex-wrap: wrap;
}
.contenedorbuscador .buscador{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.contenedorbuscador .buscador input{
  
    background: rgb(6, 31, 78);
    box-shadow: inset 1px 1px 1px white;
    color: white;
    border: none;
    padding: 6px 40px 6px 6px ;
    width: 25vw;
}

.contenedorbuscador .lupa{
  padding: 5px;
  border: 1px solid green;
  cursor: pointer;
  margin: 10px;
  box-shadow: inset 1px 1px 1px rgb(127, 241, 127);
}


.header nav{
  display: flex;
  padding: 10px;
  margin: 0;
  width: 100%;
 justify-content:center;
  background-color: #a8736d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-wrap: wrap;
}

.header nav ul{
  display: flex;
  padding: 0;
  margin: 0;
  /*background: var(--color4);*/
  
}
.header nav li{
  list-style: none;
  
}

.header nav a{
  color: rgb(209, 205, 205);
  display: block;
  background:#c0392b;
text-align: center;
text-decoration: none;
padding:1rem;
  font-size: 25px;
  border-radius: 15%;
  margin: 5% 5% 2% 5%;
  transition:all 700ms cubic-bezier(1,0,0,1);
}

.header nav a:hover{
  background-color: var(--color3);
  color: white;
  box-shadow: 8px 8px 8px #999;
  transform: translate(-5px, -5px);
}

.main .promo{
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
  border: 1px solid palevioletred;
 
}

.main .ofertas{
  background-color: blue;
  color:#fff;
  width: 100%;
  text-align: center;
  
}

.promo .formasdepago{
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}
.promo .formasdepago .centradopromo{
  padding: 5px; ;
  text-align: center;
  font-size: 15px;
 
}


.promo .formasdepago .centradopromo2{
  padding: 5px; ;
  text-align: center;
  font-size: 15px;
 
}
.promo .formasdepago .centradopromo p{
  margin: 0 0;

}
.promo .formasdepago .centradopromo2 p{
  margin: 0 0;

}

.promo .formasdepago .separador{
display: flex;
flex-wrap: wrap;
border-right: 2px solid green;
height: 50px;
margin: 0 10px;

}

.main{
  background-color: var(--color4);
  box-sizing: border-box;

}
.main .slider {
  display: block;
  width: 100%;
 height: 300px;
 overflow-x: hidden;
 overflow-y: hidden;


}

.main .slides {
  padding: 0;
  width: 400%;
display: flex;
overflow: hidden;
animation-name: fotoslide;
animation-duration: 20s;
animation-iteration-count: infinite;
  animation-direction: alternate;
animation-timing-function: linear;
}

.main .slide {
width: 100%;
list-style: none;
}

.main .slide img {
width: 100%;
  height: 75%;
vertical-align: top;
}

@media only screen and (min-width:480px) and (max-width:768px){
  .main .slider, .main .slides , .main .slide img{
          height: 100%;
      }
}



@keyframes fotoslide {
0%{margin-left: 0;}
  20%{margin-left: 0;}
  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
 

.main .contenedortira{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 38, 38);
  justify-content: center;

}

.main .contenedortira .imagenesproductos{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;

}


.main .contenedortira .imagenesalinear{
  
  padding: 10px ;
  position: relative;
  width: 100%;
  text-align: center;
 
}

.main .contenedortira .imagenesalinear .imagenenlace{
  text-align: center;
   
}

.mascara{
  height: 150px;
  width: 150px;
  -webkit-mask-image: url(/assets/media/img/forma2.svg);
  mask-image: url(/assets/media/img/forma2.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
 
}

.main .api_productos{
  display: flex;
}