:root{
  margin: 0;
  padding: 0;
  
  --color1: red;
  --color2: blue;
  --color3: pink;
  --color4: orange;
  --facebook:  #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --pinterest: #bd081c;
  --linkedin: #007785; 


  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto', sans-serif;

}

.contenedor{
  margin: 0 auto;
  background-color: beige;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 70px;
}

.contenedor .contenedorheader{

  display: block;
} 

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color4);
}

h1{
 padding: 0 15px 0 ;
} 


/*------------------------*/
/* Elementos del <header> */
/*------------------------*/
.header{
  align-items: center;
  justify-content:center;
  background-color: var(--color2);
  display: flex;
  flex-wrap:wrap;
}

.header .logo img{
  width: 70%;
  padding: 0.5rem;
  width: fit-content;
}

.header .texto{
  display: flex;
  justify-content: center;
}

.contenedorbuscador{
  display: flex;
  flex-wrap: wrap;
}

.contenedorbuscador .buscador{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.contenedorbuscador .buscador input{
  
    background: rgb(6, 31, 78);
    box-shadow: inset 1px 1px 1px white;
    color: white;
    border: none;
    padding: 6px 40px 6px 6px ;
    width: 25vw;
}

.contenedorbuscador .lupa{
  padding: 5px;
  border: 1px solid green;
  cursor: pointer;
  margin: 10px;
  box-shadow: inset 1px 1px 1px rgb(127, 241, 127);
}

/*--------------------*/
/* Comienzo de NAVBAR */
/*--------------------*/

.container_menu ul li a{
  text-decoration: none;
}

.container_menu{
  width: 100%;
  height: 70px;
  background: #023877;
  padding: 0px 20px;

}
/*-----------------------------
------BARRA DE NAVEGACION -----
-----------------------------*/

.menu{
  max-width: 1200px;
  display: flex;
  margin:auto;
  height: 100%;
}

nav > ul{
  display:flex;
  height: 100%;
  display: flex;
}

nav  ul  li{
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li > a{
  width: 70%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 15px 0 15px;
  border-radius: 5px;
  color: white;
  transition: all 300ms ease;
}

nav > ul > li > a:hover{
  transform: scale(1.1);
  color:#fff;
  background: #0074c7;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

nav > ul > li > ul{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 90px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 10000;
  transition: all 300ms ease;

}

nav > ul > li:hover > ul{
  visibility: visible;
  opacity: .95;
  top: 70px;

}

nav ul li ul:before{
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul a{
  display: block;
  color:#0099e9;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  transition: all 300ms ease;
}
nav ul li ul a:hover{
  background: #0074c7;
  color:#fff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*ELEMENTOS RESPONSIVOS*/

.icon__menu{
  visibility: hidden;
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
  position: relative;
}

#label__check{
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu{
  display: none;
}


@media screen and (max-width:720px){
  nav > ul {
    flex-direction:column;
    background-color:#023877 ;
    position:absolute;
    align-items: center;
    justify-content: center;
    left:20px;
    top: 320px;
    width: 80px;
    height: 300px;
    border-radius: 5px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }

  nav > ul > li{
    right: 25px;
  }

  nav > ul > li > a{
    border-radius: 5px;
    height: 20px;
  }

  nav > ul > li > a:hover{
    transform: scale(1);
  }

  nav > ul > li:hover ul{
    left: 120px;
    top:25px
  }

  nav > ul > li > ul{
    right: 60px;
  }

  #label__check{
    display: block;
  }
  .icon__menu{
    visibility: visible;
    display: flex;
  }
  #check__menu:checked ~ nav > ul{
    visibility: visible;
    opacity: .95;
  }
}

/*-------------------*/
/*   Fin nav bar    */
/*-------------------*/



/*--------------------------------*/
/* Elementos del 1er section (Slider)*/
/*--------------------------------*/

.main{
  background-color: var(--color4);
  box-sizing: border-box;

}

.main .slider {
  display: block;
  width: 100%;
 height: 300px;
 overflow-x: hidden;
 overflow-y: hidden;


}

.main .slides {
  padding: 0;
  width: 400%;
display: flex;
overflow: hidden;
animation-name: fotoslide;
animation-duration: 20s;
animation-iteration-count: infinite;
  animation-direction: alternate;
animation-timing-function: linear;
}

.main .slide {
width: 100%;
list-style: none;
}

.main .slide img {
width: 100%;
  height: 75%;
vertical-align: top;
}

@media only screen and (min-width:480px) and (max-width:768px){
  .main .slider, .main .slides , .main .slide img{
          height: 100%;
      }
}



@keyframes fotoslide {
0%{margin-left: 0;}
  20%{margin-left: 0;}
  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
 


/*--------------------------------*/
/* Fin del 1er section */
/*--------------------------------*/

/*--------------------------------*/
/* Elementos del 2do section */
/*--------------------------------*/
.main .promo{
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
  border: 1px solid palevioletred;
 
}

.main .ofertas{
  background-color: blue;
  color:#fff;
  width: 100%;
  text-align: center;
  
}

.promo .formasdepago{
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}
.promo .formasdepago .centradopromo{
  padding: 5px; ;
  text-align: center;
  font-size: 15px;
 
}


.promo .formasdepago .centradopromo2{
  padding: 5px; ;
  text-align: center;
  font-size: 15px;
 
}
.promo .formasdepago .centradopromo p{
  margin: 0 0;

}
.promo .formasdepago .centradopromo2 p{
  margin: 0 0;

}

.promo .formasdepago .separador{
display: flex;
flex-wrap: wrap;
border-right: 2px solid green;
height: 50px;
margin: 0 10px;

}

/*--------------------------------*/
/* Fin del 2do section */
/*--------------------------------*/

/*--------------------------------*/
/* Elementos del 3er section */
/*--------------------------------*/



.main .contenedortira{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 38, 38);
  justify-content: center;

}

.main .contenedortira .imagenesproductos{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;

}


.main .contenedortira .imagenesalinear{
  
  padding: 10px ;
  position: relative;
  width: 100%;
  text-align: center;
 
}

.main .contenedortira .imagenesalinear .imagenenlace{
  text-align: center;
   
}

.mascara{
  height: 150px;
  width: 150px;
  -webkit-mask-image: url(./media/img/forma2.svg);
  mask-image: url(./media/img/forma2.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
 
}

/*--------------------------------*/
/* Fin del 3er section */
/*--------------------------------*/

/*--------------------------------*/
/* Elementos del 4to section------*/
/*--------------------------------*/



.main .api_productos{
  display: flex;
}

/*--------------------------------*/
/* Fin del 4to section------*/
/*--------------------------------*/




button{
  background-color: var(--color3);
  font-size: 16px;
  border: none;
  color: white;
  padding: 8px 16px; 
  cursor: pointer;
  border-radius: 4px;
}

/*--------------------------------*/
/* Elementos del footer ( Comienzo)
/*--------------------------------*/


.redsoc{
  color: black;
  font-size: 1.0vw;
  text-align: center;

}

.redes-container{
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
}

.redes-container ul li{
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-container ul li a{
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
  transition: .2s;
}

.redes-container ul:hover a{
  filter: blur(2px);
}

.redes-container ul li a:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
  filter: none;

}

.redes-container ul li .facebook:hover{
  background: var(--facebook);
}


.redes-container ul li .instagram:hover{
  background: var(--instagram);
}

.redes-container ul li .twitter:hover{
  background: var(--twitter);
}

.redes-container ul li .linkedin:hover{
  background: var(--linkedin);
}

.redes-container ul li .pinterest:hover{
  background: var(--pinterest);
}
.paragraph{
  text-align: center;
}

/*--------------------------------*/
/* Fin del footer--------------- */
/*--------------------------------*/