
header nav  ul  li  a{
    padding: 5px 10px 5px 10px;
    height: 70%;
    margin-top: 10px;
}

/*header nav > ul > li:hover > ul{
    top: 50px;
}*/

.container_contacto {
    color: rgb(89, 142, 211);
    background-color:rgb(219, 212, 204);
    font-weight: 700;
    border-radius: 3%;
    padding: 20px;
    margin: 5%;
}

input{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}